.dataTables_wrapper {
    margin-bottom: $spacer * 2;
    .dataTables_scrollHead {
        .table {
            margin-bottom: 0;
            thead {
                th {
                    border-bottom: none;
                }
            }
        }
    }
    .dataTable {
        thead {
            tr {
                th {
                    &.sorting_asc {
                        .fas {
                            &::before {
                                content: "\f0de";
                            }
                        }
                    }
                    &.sorting_desc {
                        .fas {
                            &::before {
                                content: "\f0dd";
                            }
                        }
                    }
                }
            }
        }
    }
    .dataTables_paginate {
        display: flex;
        justify-content: center;
        .paginate_button {
            @extend .btn;
            margin: $spacer;
            &.disabled {
                display: none;
            }
            &:not(.previous):not(.current):not(.next) {
                @include button-outline-variant($primary);
                &:not(:hover) {
                    border-color: transparent!important;
                }
            }
            &.previous,
            &.next {
                @include button-outline-variant($primary);
            }
            &.current {
                @include button-variant($primary, $primary);
            }
        }
    }
}