/*pontos de corte nas telas:
    width: 0px to 320px
    height: 0px to 800px
---------------------------------
    width: 321px and 740px
    height: 801px to 1200px
---------------------------------
    width: 741px and ...px;
    height: 1201px to ...px
*/
*{
    margin: 0;
    padding: 0;
}

.navegacao{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0f1d1b;
    
}
.botaomenu{
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.marcaempresa{
    width: 215px;
    height: 50px;
    padding: 0;
    text-align: center;
    font-size: 14px ;
    font-weight: bolder;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.botaosair a{
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menufixo{
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    min-height: 800px;    
    border: 0.1px solid #000;
    background-color: #0f1d1b;
    overflow-y: auto;
    position: absolute;
    top:50px;
    left: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menufixo ul{
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    
}
.menufixo ul li{
    border-bottom: 1px solid #000;
    background-color: #0f1d1b;
    text-align: center;
    border: 1px solid #FFF;
}
.menufixo span{
  margin-right: 25px; 
}
.menufixo ul li ul{
    display: none;
}
.menufixo ul li ul li{
    display: block;
    border-bottom: 1px solid #000;
    background-color: #265f3d;
}
.menufixo a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    padding: 10px;
    
}
.menufixo a:hover{
    background-color: #012818;
}
.logado{
    display: block;
    margin: 20px auto;
    text-align: center;
    
    color: #FFF;
    font-size: 15px;
    font-weight: bolder;
}
.logado span{
    padding: 5px;
    margin-right: 5px; 
    border: 1px solid #FFF;
}
.logado1{
    display: block;
    margin: 10px auto 5px auto;
    text-align: center;
    
    color: #FFF;
    font-size: 15px;
    font-weight: bolder;
}

.conteudo{
    width: 100%;
    min-width: 320px;
    min-height: 870px; 
    background-color: #CCC;
    
}
.rodape{
    width: 100%;
    height: 50px;
    line-height: 15px;
    background-color: #0f1d1b;
}
.rodape p{
    text-align: center;
    font-size: 14px;
    color: #FFF;
    padding: 10px 5px;
}


